body{
    background-image: url(image/etudiante.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  /*  position: relative;*/
    font-family: system-ui;
    font-size: 20px;
    margin: 0;
}
/* Style pour la premiére section*/
.nav{
    height: 350px;
    
}
.image{
    position:absolute;
    right: 0;
    
}
/*Style pour la deuxiéme Section*/
#Container{
    background-color:blue; 
    width: 100% !important;
   
    
}

h4{
    text-align: center;
    color: white;
}
.premiere {

    display: flex;
    text-align: center;
   

    
}

.style-bloc{
    height: 100px;
    width: 600px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    writing-mode: vertical-rl;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
button .btn{
    background-color:brown;
    border: 5px solid white;
    font-size: 40px;
    border-radius: 30% 30% ;
    color: white;
    
    

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media  (max-width:582px){
    .premiere {
        flex-direction:column;
        height: auto;
    }
    #Container{
        background-color: transparent;
        width: auto;
    }
    body{
        background-size: auto;
       
       
        
        
    }
    .image{
        position:static;
        
        
    }
    .style-bloc{
        width: auto;
    }
    
}
/*-----------Formulaire---------------*/

button #bouton{
    width: 10px !important;
    ;
    
}